__pycache__/
.ipynb_checkpoints/
*.pyc
.env
.venv/
venv/
.DS_Store

data/processed/**
!data/processed/
!data/processed/.gitkeep

data/synthetic/**
!data/synthetic/
!data/synthetic/.gitkeep

data/samples/**
!data/samples/
!data/samples/.gitkeep

reports/**
!reports/
!reports/.gitkeep

*.ipynb
